// @import url("../../styles/utils/common.scss");
// @import url("../../styles/utils/colors.scss");

 $headline-color: #1E90FF;

.headline {
  background-color: $headline-color;
  height: 60px;
  line-height: 60px;
  color: #fff;
  padding-left: 15%;
  font-size: .7em;
  outline: 2px solid black;
}

@media only screen and (max-width: 600px) {
  .headline {
    font-size: .6em;
  }
}
